.datenschutz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Verhindert das Zentrieren des Inhalts und ermöglicht vertikale Fließrichtung */
  min-height: 100vh; /* Der Container sollte mindestens so hoch wie der Viewport sein */
  padding: 20px;
  background-color: #000000;
  text-align: left;
  box-sizing: border-box; /* Stellt sicher, dass Padding korrekt berücksichtigt wird */
  margin-left: 50px;
  margin-right: 50px;
}

h1 {
  font-size: 2rem;
  color: #bfbfbf;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8rem;
  color: #ebebeb;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.4rem;
  color: #727272;
  margin-top: 20px;
}
li {
  color: #ebebeb;
}

.datenschutz-container ul {
  list-style-type: disc;
  margin-left: 40px;
}

.datenschutz-container p {
  font-size: 1rem;
  line-height: 1.6;
  color: #bfbfbf;
  margin-bottom: 20px;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem; /* Kleinere Schriftgröße bei kleineren Bildschirmen */
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem; /* Noch kleinere Schriftgröße bei sehr kleinen Bildschirmen */
  }
}
