<div class="datenschutz-container">
  <h1>Datenschutzerklärung</h1>

  <section class="datenschutz-section">
    <h2>1. Datenschutz auf einen Blick</h2>
    <h3>Allgemeine Hinweise</h3>
    <p>
      Diese Website dient ausschließlich privaten Zwecken und verfolgt keine
      kommerziellen Interessen. Alle Inhalte auf dieser Seite wurden von mir
      persönlich erstellt. Es werden keine personenbezogenen Daten erhoben,
      verarbeitet oder gespeichert.
    </p>

    <h3>Datenerfassung auf dieser Website</h3>
    <p>
      Diese Website ist eine statische Seite, die keine aktiven Funktionen zur
      Erfassung von Daten, wie etwa Kontaktformulare oder Tracking-Tools,
      verwendet. Es findet keine Erfassung von personenbezogenen Daten statt,
      weder durch Cookies noch durch andere Technologien.
    </p>

    <h3>Nutzung der Website</h3>
    <p>
      Die Nutzung dieser Website erfolgt ausschließlich zu privaten Zwecken. Die
      Website stellt meine persönlichen Projekte und Arbeiten dar, ohne dass
      hieraus finanzielle Vorteile entstehen.
    </p>
  </section>

  <section class="datenschutz-section">
    <h2>2. Allgemeine Hinweise und Pflichtinformationen</h2>

    <h3>Datenschutz</h3>
    <p>
      Der Schutz Ihrer Daten ist mir wichtig. Auf dieser Website werden jedoch
      keine personenbezogenen Daten erhoben oder gespeichert. Da keine Daten
      verarbeitet werden, gibt es auch keine Notwendigkeit für weiterführende
      Datenschutzmaßnahmen.
    </p>

    <h3>Verantwortliche Stelle</h3>
    <p>
      Für den Inhalt dieser Website verantwortlich:<br />
      Florian Christoph<br />
      Aachen<br />
      E-Mail: <a>chrisflori42&#64;gmail.de</a>
    </p>

    <h3>Keine Datenverarbeitung</h3>
    <p>
      Da diese Website keine Daten von ihren Besuchern erhebt, verarbeite ich
      auch keine personenbezogenen Daten. Es erfolgt keine Auswertung oder
      Weitergabe von Daten an Dritte.
    </p>

    <h3>SSL- bzw. TLS-Verschlüsselung</h3>
    <p>
      Diese Website nutzt keine SSL- bzw. TLS-Verschlüsselung, da keine Eingabe
      von personenbezogenen Daten erfolgt und die Seite rein statisch ist.
    </p>

    <h3>Auskunft, Löschung und Berichtigung</h3>
    <p>
      Da keine personenbezogenen Daten erhoben werden, gibt es auch keine Daten,
      über die ich Auskunft geben, die ich berichtigen oder löschen könnte.
    </p>
  </section>
</div>
