.impressum-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  background-color: #000000;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #bfbfbf;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8rem;
  color: #ebebeb;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.4rem;
  color: #727272;
  margin-top: 20px;
}

.impressum-content {
  max-width: 800px;
  margin-top: 20px;
  font-size: 1rem;
  line-height: 1.6;
  color: #bfbfbf;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 15px;
}
