<div class="impressum-container">
  <h1>Impressum</h1>

  <h2>Angaben gemäß § 5 TMG</h2>

  <div class="impressum-content">
    <p>
      <strong>Florian Christoph</strong><br />
      Aachen<br />
      Deutschland E-Mail: <a>chrisflori42&#64;gmail.de</a>
    </p>

    <h3>Haftungsausschluss</h3>
    <p>
      Die Inhalte dieser Webseite wurden mit größtmöglicher Sorgfalt erstellt.
      Dennoch übernehmen wir keine Haftung für die Vollständigkeit, Richtigkeit
      und Aktualität der Inhalte.
    </p>

    <h3>Urheberrecht</h3>
    <p>
      Die auf dieser Webseite veröffentlichten Inhalte, Bilder und Texte
      unterliegen dem deutschen Urheberrecht. Die Vervielfältigung oder
      Verwendung ohne ausdrückliche Genehmigung des Rechteinhabers ist nicht
      gestattet.
    </p>
  </div>
</div>
