/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
body {
  margin: 0px;
  background-color: black;
}

:root {
  --swiper-pagination-bullet-inactive-color: white;
}

.p-ripple {
  background: linear-gradient(
    to right,
    #00a2a2,
    #93c9c9
  ); /* Dunkles Cyan zu helles Cyan */
  color: white; /* Textfarbe */
  border: 2px solid #00a2a2; /* Dunkel-Cyan Umrandung */
}

.p-ripple:hover {
  box-shadow: 0 4px 30px rgba(0, 162, 162, 0.8);
}

.p-button {
  background: linear-gradient(
    to right,
    #00a2a2,
    #93c9c9
  ); /* Dunkles Cyan zu helles Cyan */
  color: white; /* Textfarbe */
  border: 2px solid #00a2a2; /* Dunkel-Cyan Umrandung */
}

.p-button:hover {
  box-shadow: 0 4px 30px rgba(0, 162, 162, 0.8);
}
